services:
  database:
    volumes:
      - "./.data:/var/lib/mysql"
  web:
    build:
      dockerfile: ./docker/web/Dockerfile
      context: .
    volumes:
      - "./symfony:/var/www/symfony:rw"
    environment:
      APP_ENV: dev
    #entrypoint: tail -f /dev/null
