---
services:
  database:
    container_name: calendar_db
    image: mariadb:lts
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}

#  cal:
#    container_name: calendar_ical
#    image: nginx
#    volumes:
#      - ./calendar.ics:/usr/share/nginx/html/calendar.ics

  web:
    container_name: calendar_web
    image: reg.hcpss.org/calendar/web:${VERSION:-dev}
    ports:
      - "9099:80"
    environment:
      DATABASE_URL: "mysql://${MARIADB_USER}:${MARIADB_PASSWORD}@database:3306/${MARIADB_DATABASE}?serverVersion=mariadb-10.8.6&charset=utf8mb4"
