services:
  database:
    volumes:
      - "./.data:/var/lib/mysql"
      - "./dump.sql:/docker-entrypoint-initdb.d/symfony.sql"
  web:
    build:
      dockerfile: ./docker/web/Dockerfile
      context: .
    volumes:
      - "./symfony:/var/www/symfony:rw"
    environment:
      APP_ENV: dev
    #entrypoint: tail -f /dev/null
