{% extends 'base.html.twig' %}

{% block title %}HCPSS Calendars{% endblock %}

{% block body %}
<ul>
    {% for slug in slugs %}
    <li><a href="{{ path('calendar', {'slug': slug}) }}">{{ slug }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
